<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silianchuangye.sumao.success">

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 需要修改的地方，请注意，需要修改为你自己的包名 -->
    <!-- 这里需要修改 android:name="包名+.permission.C2D_MESSAGE" -->
    <permission android:name="com.silianchuangye.sumao.chart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 这里需要修改 android:name="包名+.permission.C2D_MESSAGE" -->
    <uses-permission android:name="com.silianchuangye.sumao.chart.permission.C2D_MESSAGE" />



    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/iv_title_bar_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activityguanjun"></activity>
        <activity android:name=".HeLinJian"></activity>


        <!-- 登陆 -->
        <activity
            android:name="com.silianchuangye.sumao.success.HX.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!-- 聊天页面 -->
        <activity
            android:name="com.silianchuangye.sumao.success.HX.ui.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- 设置appkey界面 -->
        <activity android:name="com.silianchuangye.sumao.success.HX.ui.ModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            ></activity>

        <activity android:name="com.silianchuangye.sumao.success.HX.ui.SatisfactionActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 自定义的contextmenu -->
        <activity android:name="com.silianchuangye.sumao.success.HX.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle"
            />

        <activity android:name="com.silianchuangye.sumao.success.HX.ui.ShortCutMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimBottomIn"/>

        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false" >
        </service>

        <!-- 设置环信应用的appkey 可以在Manifest设置也可以在代码中设置-->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xiongmaowang1#ziguang" />
        <!-- 设置环信应用的appkey -->

        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>