<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silianchuangye.sumao.success">

    <!-- Jpush推送以下权限 -->
    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.silianchuangye.sumao.success.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.silianchuangye.sumao.success.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Jpush推送以上权限 -->


    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 需要修改的地方，请注意，需要修改为你自己的包名 -->
    <!-- 这里需要修改 android:name="包名+.permission.C2D_MESSAGE" -->
    <permission
        android:name="com.silianchuangye.sumao.chart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- 这里需要修改 android:name="包名+.permission.C2D_MESSAGE" -->
    <uses-permission android:name="com.silianchuangye.sumao.chart.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activityguanjun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeLinJian"
            android:screenOrientation="portrait" />

        <!-- 登陆 -->
        <activity
            android:name=".HX.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 聊天页面 -->
        <activity
            android:name=".HX.ui.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 设置appkey界面 -->
        <activity
            android:name=".HX.ui.ModifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name=".HX.ui.SatisfactionActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义的contextmenu -->
        <activity
            android:name=".HX.ui.ContextMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".HX.ui.ShortCutMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimBottomIn" />

        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false" />

        <!-- 设置环信应用的appkey 可以在Manifest设置也可以在代码中设置 -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xiongmaowang1#ziguang" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RBuN9HdDa8wBNS27rxMvguKR" />

        <!-- 设置环信应用的appkey -->


        <!-- 声明sdk所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- jpush推送配置 -->


        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.silianchuangye.sumao.success" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.silianchuangye.sumao.success" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="com.silianchuangye.sumao.success" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".reciver.JpushMyReciver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.silianchuangye.sumao.success" />
            </intent-filter>
        </receiver>

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="08028a44209e288bcdbbe182" />
        <!-- </>值来自开发者平台取得的AppKey -->


        <!-- Jpush推送结束配置 -->
        <activity
            android:name=".fragments.myPlasticTrade.OrderManagement.goodsInStock.OrderGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.theprice.MidpointsListctivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.AuctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.OrderManagement.SpotOrder.SpotOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.personalInformation.PasswordUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.personalInformation.InformationSubscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.personalInformation.UserInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.personalInformation.ModifyName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.personalInformation.ModifyTelephone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.ReceiptAddressMVP.view.ReceiptAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.ReceiptAddressDetailMVP.view.ReceiptAddressDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.AddAddressMVP.view.AddAddress"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.SelectCityAreaMVP.view.SelectCityArea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.SelectCountyAreaMVP.view.SelectCountyArea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.SelectProvinceAreaMVP.view.SelectProvinceArea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.receiptAddress.SelectDetailAreaMVP.view.SelectDetailArea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.InvoiceInformationMVP.view.InvoiceInformation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.EnterpriseCapitalAccountManagement.SearchMoney"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.InvoiceInformation -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserDutyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserStateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.firmInfomation.FirmInfoMVP.view.FirmInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.firmInfomation.FirmInfoUpdateMVP.view.FirmInfoUpdateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.firmInfomation.FirmInfoTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.firmInfomation.FirmInfoPicture.FirmInfoPictureMVP.view.FirmInfoPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.preSale.PreSaleDetailActivityMVP.view.PreSaleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.EnterpriseCapitalAccountManagement.FundInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.preSale.PreSaleMVP.view.PreSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.theprice.ChinaNorth_MyPrice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.theprice.ChainNorth_MyPriceLv"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".fragments.homepage.theprice.ChinaNorth_Margin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.theprice.ChinaNorth_Price"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.OpenAuctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.VesselOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.VesselTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.VesselThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.goodInStock.GoodsInStockActivityMVP.view.GoodsInStockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.auction.VlaueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.register.RegisterValueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.goodInStock.GoodsInStockDetailActivityMVP.view.GoodsInStockDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.goodInStock.LikeProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.goodInStock.SeeProductMVP.view.SeeProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.login.LoginUserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.type.view.TypeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.PhysicalDistributionManagement.logistics.CreateLogistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.goodInStock.PaymentsOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SearchActivityMVP.view.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.OrderManagement.OrderDetails.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.OrderManagement.OrderDetails.AlreadyPaidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.OrderManagement.OrderDetails.OrderDetailsHaveBeenPaid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialog.Error_Dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".dialog.Ok_Dialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".fragments.myPlasticTrade.PhysicalDistributionManagement.ViewLogisticsDemands.ViewLogisticsDemand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.PhysicalDistributionManagement.ViewLogisticsDemands.TrackingDistributionDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.PhysicalDistributionManagement.logistics.CreateLogisticsNeed"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.PhysicalDistributionManagement.logistics.Logistics_SelectAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerManagementPlatformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.CustomerApproval.CustomerApproval"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.OrderManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.SellerNotPaidOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.SellerAlreadyPaidOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.CustomerType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.CustomerMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.SaveCustomerMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.Buy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.ZhiPaiPerson"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.ReNumAndPrice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.NewPrice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.Num"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.myPlasticTrade.companyInformations.firmInfomation.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.SellerManagementPlatform.acutionManagement.SearchPriceActivity" />
        <activity android:name=".fragments.SellerManagementPlatform.acutionManagement.PriceSearchinfoActivity" />
        <activity android:name=".fragments.SellerManagementPlatform.acutionManagement.AcutionResultActivity" />
        <activity android:name=".fragments.SellerManagementPlatform.acutionManagement.AuctionSuccessActivity" />
        <activity android:name=".fragments.SellerManagementPlatform.acutionManagement.AcutionFailActivity" />
        <activity
            android:name=".salesearch.SaleSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customermanger.CustomerParent"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.myPlasticTrade.register.RegisterPhoneMVP.RegisterPhoneView.RegisterPhoneActivity" />
        <activity android:name=".fragments.homepage.groupbuying.GroupBuyingActivity" />
        <activity android:name=".fragments.homepage.groupbuying.GroupBuyingSuccessActivity" />
        <activity android:name=".fragments.homepage.groupbuying.RuleActivity" />
        <activity android:name=".fragments.homepage.groupbuying.JoinActivity" />
        <activity
            android:name=".fragments.myPlasticTrade.register.RegisterFirmActivityMVP.view.RegisterFirmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".fragments.homepage.AnnouncementDetailMVP.view.AnnouncementDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".fragments.myPlasticTrade.companyInformations.EnterpriseUserManagement.CompanyUserValueActivity" />
        <activity android:name=".fragments.myPlasticTrade.register.RegisterPicture" />
        <activity android:name=".fragments.homepage.sumaoconsultMVP.SuMaoConsult" />
        <activity
            android:name=".customermanger.NoAgree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShangYou.CaiGouMVP.view.CaiGou"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShangYou.SearchSeePlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.UpstreamDirectSellingMVP.view.UpstreamDirectSellingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.UpstreamDirectSellingMVP.UpstreamDirectSellingDetailMVP.VipProductList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.homepage.UpstreamDirectSellingMVP.UpstreamDirectSellingDetailMVP.UpstreamDirectSellingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.PayMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SellerManagementPlatform.SellerOrderManagement.Fragments.FaPiaoMessage"
            android:screenOrientation="portrait" />
        <activity android:name=".ShangYou.ShangYouSelectNumber" />
        <activity android:name=".ShangYou.PlanDayMVP.ShangYouRemarks" />
        <activity android:name=".fragments.myPlasticTrade.setting.FunctionIntroduction.FunctionIntroductionActivity"></activity>
    </application>

</manifest>